<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments :: head(~{::title})}">
    <title>404</title>
</head>
<body>
<!--导航-->
<nav th:replace="fragments :: navbar(6)"></nav>

<!--错误信息-->
<div class="m-container-small m-margin-top">
    <div class="ui error message">
        <div class="ui container">
            <h2 style="text-align: center">404</h2>
            <p style="text-align: center">对不起，您访问的资源不存在</p>
        </div>
    </div>
</div>


<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<!--底部-->
<footer th:replace="fragments :: footbar"></footer>

</body>
</html>